name: MLOps Training Pipeline

on:
  push:
    branches: [ main, poc ]
  pull_request:
    branches: [ main ]

jobs:
  ml-pipeline:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    # Linting
    - name: Lint code with flake8
      run: |
        flake8 train.py tests/

    # Model Training
    - name: Train model
      run: |
        python train.py

    # Unit Testing
    - name: Run unit tests
      run: |
        pytest -v

    # Upload trained model artifact
    - name: Upload model artifact
      uses: actions/upload-artifact@v4
      with:
        name: trained-model
        path: heart_model.pkl
